# Dependency directories
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Metadata
.DS_Store
Thumbs.db

# Offline Wiki files (not for GitHub repository)
copy_to_wiki.md
wiki_single_page.md

