# Cổng chạy ứng dụng (Mặc định trên Render là tự động cấp)
PORT=3000

# URL của Frontend chạy trên Vercel để cấu hình CORS bảo mật (Nếu có nhiều URL thì cách nhau bằng dấu phẩy)
# Ví dụ: FRONTEND_URL=https://my-mc-bot-panel.vercel.app,http://localhost:5000
FRONTEND_URL=*

# Discord Webhook URL để stream log và chat lên Discord channel (Tuỳ chọn)
DISCORD_WEBHOOK_URL=

